$secondary_fs: 22px;
$secondary_fw: 700;
$secondary_color: #000; 

body{
    background-color: rgb(239, 239, 239);
    font-family: 'Barlow', sans-serif;
}

h2{
    color: rgb(57, 87, 88);
    text-decoration: none;
    line-height: 1.2;
    font-size: 46px;
    font-weight: 700;
}

p{
    color: rgb(0, 0, 0);
    text-decoration: none;
    letter-spacing: 0.004em;
    font-size: 22px;
    font-weight: 200;
}

a, a:hover{
    color: rgb(57, 87, 88);
}

// Header
.header{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    background: url('assets/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &-opac{
        position: absolute;
        background: black;
        height: 100%;
        width: 100%;
        opacity: 30%;
        z-index: 1;
    }

    .inner{
        z-index: 2;
        .content{
            text-align: center;
            color: #fff;
    
            p{
                font-size: 50px;
                text-transform: uppercase;
                color: #fff;
                margin-bottom: 0;
            }

            h1{
                font-size: 70px;
                font-weight: 700;
                margin-bottom: 25px;
            }

            .btn{
                border-radius: 0;
                background-color: #cd864e;
                font-size: 30px;
            }
        }
    }

    
}


// Section Two
.two{
    margin: 100px 0;
    height: 100vh;
    display: flex;
    align-items: center;

    .content{
        display: flex;
        align-items: center;

        div{
            padding: 0 60px;
        }
    }
}

.three{
    margin: 100px 0;
    height: 100vh;
    display: flex;
    align-items: center;

    .content{
        padding-left: 70px;
        padding-bottom: 25px;
    }

    .concert{
        &-one{
            background: url('assets/3-1.png');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            height: 500px;
            width: 100%;

        }

        &-two{
            background: url('assets/3-2.png');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            height: 500px;
            width: 100%;
        }

        &-three{
            background: url('assets/3-3.png');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            height: 500px;
            width: 100%;
        }

        &-info{
            background: #cd864e;
            height: 70px;
            font-size: 32px;
            color: white;
            width: 50%;
            position: absolute;
            bottom: 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}


// Section four
.four{
    margin: 100px 0;
    height: 100vh;
    display: flex;
    align-items: center;

    .title{
        padding-left: 70px;
        padding-bottom: 50px;
    }

    .card{
        .card-img-top{
            border-top-left-radius:0;
            border-top-right-radius:0;
        }
        h3{
            color: #cd864e;
            font-weight: bold;
        }
    }
    
}

// Section five