



$secondary_fs: 22px;
$secondary_fw: 700;
$secondary_color: #000; 

body{
    background-color: rgb(239, 239, 239);
    font-family: 'Barlow', sans-serif;
}



h2{
    color: rgb(57, 87, 88);
    text-decoration: none;
    line-height: 1.2;
    font-size: 46px;
    font-weight: 700;
}

p{
    color: rgb(0, 0, 0);
    text-decoration: none;
    letter-spacing: 0.004em;
    font-size: 22px;
    font-weight: 200;
}


// Section Two
.two{
    margin: 100px 0;
    height: 100vh;
    display: flex;
    align-items: center;

    .content{
        display: flex;
        align-items: center;

        div{
            padding: 0 60px;
        }
    }
}

.three{
    margin: 100px 0;
    height: 100vh;
    display: flex;
    align-items: center;

    .content{
        padding-left: 70px;
        padding-bottom: 25px;
    }

    .concert{
        &-one{
            background: url('assets/3-1.png');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            height: 500px;
            width: 100%;

        }

        &-two{
            background: url('assets/3-2.png');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            height: 500px;
            width: 100%;
        }

        &-three{
            background: url('assets/3-3.png');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            height: 500px;
            width: 100%;
        }

        &-info{
            background: #cd864e;
            height: 70px;
            font-size: 32px;
            color: white;
            width: 50%;
            position: absolute;
            bottom: 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

.four{
    margin: 100px 0;
    height: 100vh;
    display: flex;
    align-items: center;
}